<h4 class="page-title">Development tools</h4>
<hr />

<div class="sub-page-container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Usage</th>
				<th scope="col">Career experience %</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tool of DevTools">
				<td>
					{{ tool.name }}
				</td>
				<td>{{tool.type}}</td>
				<td>{{tool.experience}}</td>
				<td>
					<mat-progress-bar mode="determinate" [value]="tool.relativePercent"></mat-progress-bar>
				</td>
			</tr>
		</tbody>
	</table>
</div>
