<h3 class="page-title">Skills</h3>
<hr />

<div class="master-page-container">
	<!-- Menu -->
	<nav mat-tab-nav-bar mat-align-tabs="center">
		<div mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive" [routerLink]="['./languages']">Languages</div>
		<div mat-tab-link routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" [routerLink]="['./os']">Operating systems</div>
		<div mat-tab-link routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive" [routerLink]="['./devtools']">Development tools</div>
		<div mat-tab-link routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive" [routerLink]="['./devmethods']">Development methology</div>
	</nav>

	<!-- Sub page outlet -->
	<router-outlet></router-outlet>
</div>
