<h4 class="page-title">Development methology</h4>
<hr />

<div class="sub-page-container">
	<p>
		I have primarily worked in <span class="highlight">agile</span> development workflows using <span class="highlight">
			Jira
		</span> with 1 week sprints and a manual CI/CD solution using <span class="highlight">
			Appveyor
		</span> with monthly bigger deploy and several frequent hotdeploys through the month.
	</p>

	<p>
		I am used to a workflow where <span class="highlight">code reviews</span> and testing another developers PRs are a must.
	</p>

	<!--<p>
		Since I have worked for many years with <span class="highlight">servers</span>, it was only natural that I got to work with <span class="highlight">deployment</span> and <span class="highlight">internal tooling</span> in a somewhat <span class="highlight">DevOPS</span> role.
	</p>-->
</div>
