<h4 class="page-title">Work History</h4>
<hr />

<div class="sub-page-container">
	<!--<ngb-alert [type]="'success'" [dismissible]="false">
		<strong>Software / IT Jobs</strong>
	</ngb-alert>-->

	<h5>iPaper A/S | .NET Software Developer | Jan 2017 - Present</h5>
	<p>
		I was contacted by iPaper in January of 2017 right before my final computer science exam and hired on the same day as my interview. <br />
		iPaper is a SaSS company with 2 primary software products, where I work on both of them.<br />
		I work with C#, Typescript, HTML, MsSQL, and Knockout JS.
	</p>

	<h5>Freelancer | Server Administrator / Software Developer | 2014 - Present</h5>
	<p>
		I have done various jobs as a freelancer, mostly within Linux/Windows server administration and virtualization as well as security.
	</p>

	<h5>Rathlouskolen | IT Administrator and helpdesk | 2013</h5>
	<p>
		I worked for a short while as a IT administrator and help-desk at a local private school.
		Here I also developed a few pieces of small software to help with the daily management of IT that are still in use today.
	</p>

	<!--<ngb-alert [type]="'warning'" [dismissible]="false">
		<strong>Previous jobs</strong>
	</ngb-alert>-->

	<h5>Various full-time and temp | Warehouse worker | 2004 - 2009</h5>
	<p>
		I had several jobs in the warehouse industry mainly as a forklift and crane operator everything from paint and chemicals to plumbing supplies and wood.
	</p>

	<h5>Spekva A/S | Production worker | 2001 - 2004</h5>
	<p>
		I worked for 3 years as a production machine worker at Spekva who makes high class wooden tabletops. <br />
		Here i was in charge of various areas during the 3 years, from cutting to assembly and quality control.
	</p>
</div>
