<div class="portfolio-project-page-container">
	<h5>NiKa Chat</h5>
	<div class="row">
		<div class="col-md-6">
			<a class="card-img-gallery" href="/img/portfolio/nikachat/main_nocall.png" data-fancybox="nikachat" data-caption="NiKa Chat" title="NiKa Chat">
				<img class="img-thumbnail" src="/img/portfolio/nikachat/main_nocall.png" alt="NiKa Chat">
			</a>
			<br />
			<br />
			<strong>Description</strong>
			<hr />
			<p>Is a web based video application that I created for my wife and I, due to us being in a long distance relationship.</p>
			<p>
				It functions basically like an open chat-room, where you can enter and when both are in there, it will create a video call.<br />
				It has text chat with the ability to paste in images, synchronized Youtube/Facebook/TikTok player as well as plex media server embedded.<br />
				For us it's a neat way to do the things we do together online everyday.
			</p>
			<p>
				This was super fun to make! and there has been several version up to this one built with vueJS and now Angular. <br />
				We use it every single day, and it works for us, there is no demo, as most everything is hardcoded into the app, and also I did not include screenshots with her in it.
			</p>
		</div>
		<div class="col-md-6">
			<strong>Demo</strong>
			<hr />
			<button mat-raised-button class="demo-button" disabled>Demo Unavailable</button>
			<br />
			<strong>Technologies</strong>
			<hr />
			<mat-list role="list">
				<mat-list-item>
					<mat-icon mat-list-icon>checkmark</mat-icon>
					<div mat-line><strong>ASP.NET Core</strong></div>
					<div mat-line>3.1</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon>checkmark</mat-icon>
					<div mat-line><strong>Angular</strong></div>
					<div mat-line>8</div>
				</mat-list-item>
			</mat-list>

			<strong>Features</strong>
			<hr />
			<mat-list role="list">
				<mat-list-item>
					<mat-icon mat-list-icon>checkmark</mat-icon>
					<div mat-line><strong>Realtime Audio/Video calling</strong></div>
					<div mat-line>WebRTC</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon>checkmark</mat-icon>
					<div mat-line><strong>Realtime Chat with image sharing</strong></div>
					<div mat-line>SignalR</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon>checkmark</mat-icon>
					<div mat-line><strong>Syncronized video player</strong></div>
					<div mat-line>Youtube / Facebook / TikTok</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon>checkmark</mat-icon>
					<div mat-line><strong>Any device</strong></div>
					<div mat-line>Works for desktop, tablet and mobile</div>
				</mat-list-item>
			</mat-list>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<strong>Gallery</strong>
			<hr />
			<br />
			<a *ngFor="let img of Images" class="card-img-gallery" [href]="img.src" data-fancybox="nikachat" [attr.data-caption]="img.caption" [title]="img.caption">
				<img class="img-thumbnail card-img-gallery-item" [src]="img.src" [alt]="img.caption">
			</a>
		</div>
	</div>
</div>
