<h3 class="page-title">Welcome</h3>
<hr />

<div class="page-container overflow-auto">
	<h5>I am so glad you dropped by!</h5>
	<p>
		This site is all about me, what I can do, my personal and work life, and of course to show off some cool things I have been working on.
	</p>
	<p>
		I am a passionate .net software developer from Denmark! <br />
		I spend my days coding and/or working on servers! in my spare time I spend time with family and play computer games.
	</p>
	<p>To learn more about me, please do click around the site here :)</p>
</div>
