<h4 class="page-title">Education</h4>
<hr />

<div class="sub-page-container">
	<h5>Business Academy Aarhus | Erhvervs akademi aarhus | 2014 - 2017</h5>
	<p>
		I got my degree in computer science with well above average grades.<br />
		This was without a doubt my calling, and I loved it!
	</p>

	<h5>Danish Secondary school | HF VUC Aarhus | 2009 - 2012</h5>
	<p>
		I went to high school after having worked for some years, and got my high school diploma. <br />
		I knew that i was aiming for computer science so I took the extra higher level mathematics class to prepare my grades for entry to the business academy.
	</p>

	<h5>Danish IT Folk Highschool | IT-Højskolen Snoghøj | 2000-2001</h5>
	<p>
		I took a 6 months stay at a Danish folk high school which specialized in IT. <br />
		My main subject was networking and my finishing project was a web project. <br />
		Other courses during the semester was: 'IT and society', 'Basic life preparations' and 'The digital Denmark and abroad'.<br />
		At the end we had a 20 day trip to the US, driving up the west coast from San Fransisco, through LA and Las Vegas.
	</p>

	<h5>Danish Primary school | Dansk Folkeskole | 1990 - 2000</h5>
	<p>
		I have passed 1st through 10th grade in the Danish school system. <br />
		Here the 10th grade is not mandatory, but good to have as it prepares for secondary school.
	</p>
</div>
