<div class="sub-page-noheader-container">
	<!-- Menu -->
	<nav mat-tab-nav-bar mat-align-tabs="center" color="accent">
		<div mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive" [routerLink]="['./nikachat']">NiKa Chat</div>
		<!--<div mat-tab-link routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" [routerLink]="['./siriusmon']">SiriusMon</div>-->
		<!--<div mat-tab-link routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive" [routerLink]="['./geekstore']">Geek Store</div>-->
		<!--<div mat-tab-link routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive" [routerLink]="['./cmrps']">CMRPS</div>-->
	</nav>

	<!-- Sub outlet -->
	<router-outlet></router-outlet>
</div>
