<div class="card">
	<app-fancybox src="/img/Niels_Small_Cropped.png" imgClass="card-img-top" caption="This is me" alt="Niels Schmidt"></app-fancybox>
	<div class="card-body">
		<h5>More about me</h5>
		<a href="https://itniels.com" target="_blank">My Blog</a> <br />
		<a href="https://www.linkedin.com/in/itniels" target="_blank">My LinkedIn</a>
	</div>
</div>

<br />

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Current employment</h5>
		<p>Senior <span class="subtle-highlight">.NET Developer</span> at <span class="subtle-highlight">iPaper A/S</span> in <span class="subtle-highlight">Aarhus</span> Denmark.</p>
	</div>
</div>
