<h3 class="page-title">Personal</h3>
<hr />

<div class="page-container">
	<p>
		Hi, my name is Niels, I am a {{CurrentAge}} year old software developer from Denmark. <br />
		here is my personal story, to give some insight into who I am as a person today.
	</p>

	<h5>My story</h5>
	<p>
		I was born in Kolding, and grew up on a pig farm with my mom, dad and my little brother.
		I had a wonderful upbringing, full of love and good memories of working in the fields and driving the tractors almost from when I could reach the pedals (don't tell anyone).
		Growing up in the country is something I cherish very much, and has taught me good work ethics and that hard work pays off because nothing comes free.
	</p>

	<p>
		In late 2000 my mother dies suddenly of a brain aneurysm, and everything changed.
		I was 17, about to finish primary school and now questioning life after this tragedy. So I went 6 months away from home to take a semester in IT at Snoghøj IT Højskole near Fredericia, where the focus was more hardware and networks than software.
		It was the best decision I could have made, and it really re-sparked my interest in computers and technology, as well as got my attention away from losing my mom, and it gave me a sense of purpose.
	</p>

	<p>
		After school I was not too sure what I wanted to do yet, so coming from a hardworking family, and seeing my dad had gotten a full time job in the warehouse industry, I did the same and worked for close to 9 years full time driving forklifts and operating cranes.
		In my spare time I started to teach myself programming in C#, and making little apps, I also got some servers up and running to play around with and to host my own websites and I just felt like this is what I want to do with my life!
		Then I finally took the step to go back to school to get my high school diploma and then my computer science degree.
	</p>

	<p>
		I absolutely have a passion for programming and software development.
		After teaching myself C# during one year, I fell in love with the language and it’s possibilities!
		I am always working hard in and outside of work, learning different technologies, and building projects to expand my horizon. I have been working full time for over {{TotalWorkTime}} years now, and I absolutely love it!.
	</p>

	<h5>My spare time</h5>
	<p>
		I love to spend time with my family, as well as working on hobby projects in programming, servers or electronics, and sometimes combining all three into some fun IoT project using my Raspberry PI.
	</p>

	<h5>As a person</h5>
	<p>
		I am a very calm person, always smiling, happy and outgoing.
		I love to sit and work on solutions that make other people's lives easier and better, as well as to create happiness and positivity around me.
	</p>

	<h5>Family life</h5>
	<p>
		I have a wonderful and supportive American wife.
		We have been together for more than {{TotalRelationshipTime}} years now, and she and I have 3 wonderful children from her previous marriage.
	</p>
</div>
