<MudPaper Class="@Class" Elevation="3">
	<MudText Typo="Typo.h6">Employment</MudText>
	<div>Currently employed at <strong>iPaper A/S</strong> as the <strong>Lead SRE</strong> since 2017</div>
</MudPaper>

@code {
	[Parameter] public string Class { get; set; }
}
